<h3>Application Dynamic Content</h3>

<article>
  <header>
    <h4>Application Text</h4>
  </header>
  <div class="dyn-content" id="app.home.content.intro">
    <div class="spinner">
      <svg class="spinner-el" width="50%" height="50%" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <title>Please Wait</title>
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>
</article>