<h3>User Dynamic Content</h3>

<div class="user-login">
  <button class="login-button">
    <span class="label">Log in</span>
  </button>
</div>

<div class="user-row">
  <p>User data can really be any series of property and value sets. They are mutable and only available to the user, for each user.</p>
  <article>
    <header>
      <h4>User Text</h4>
    </header>
    <div class="dyn-content" id="user.home.content.intro">
      <div class="spinner">
        <svg class="spinner-el" width="50%" height="50%" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <title>Please Wait</title>
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h4>User Properties</h4>
    </header>
    <editable-object class="user-state" id="user.home.state"></editable-object>
  </article>
</div>