<h3>Application Dynamic Content</h3>

<article>
  <header>
    <h4>Application Text</h4>
  </header>
  <div class="dyn-content" id="app.home.content.intro">
    <div class="spinner"></div>
  </div>
</article>