<h3>Home Page Static Content</h3>
<h4>{{ siteData.business.name }}</h4>

<p>
This is static content from a content partial for the home page only that is built and updated each deploy. It can contain substitutions from template data originated from build artifacts like images or text from the site-data.json.
</p>
