<article>
  <header>
    <h3>{{capFirst page}} Page, Every Page Article 1</h3>
  </header>
  <p>
    This is an example of static content that should be rendered on every page that permits 'all' content in it's settings. This is the first of three sections defined in the example.
  </p>
</article>
<article>
  <header>
    <h3>{{capFirst page}} Page, Every Page Article 2</h3>
  </header>
  <p>
    This is an example of static content that should be rendered on every page that allows 'all' content in it's settings. This is the second of three sections defined in the example.
  </p>
</article>
<article>
  <header>
    <h3>{{capFirst page}} Page, Every Page Article 3</h3>
  </header>
  <p>
    This is an example of static content that should be rendered on every page that allows 'all' content in it's settings. This is the third of three sections defined in the example.
  </p>
</article>