<p>Use {{ siteData.business.shortName }} often? Installing this application to your homescreen makes it easier and more reliable. You can uninstall at any time.</p>
<div class="pp-ctrl">
  <button class="secondary pp-close">No Thanks</button>
  <button class="primary pp-action">Install</button>
</div>
