<p>A new version of this web application is available. Install now?</p>
<div class="pp-ctrl">
  <button class="secondary pp-close">Next Time</button>
  <button class="primary pp-action">Install Now</button>
</div>
