@use 'mixins' as m;
@use 'colors' as c;

.main-banner {
  h2 {
    text-align: center;
  
    @include m.breakpoint (xlarge) {
      margin-top: 1em;
    }
  }

  .section {
    position: relative;
    padding: 0.5rem 1rem;
  }

  $pages: lookup('nav-pages');

  @each $page in $pages {
    $images: lookup('images', 'hero-#{$page}');
    .#{$page}-hero-0 {
      $last-width: -1;

      @each $width, $image in $images {
        @include m.min-width('#{$last-width + 1}px') {
          background-color: rgb(0 0 0 / 50%);
          // stylelint-disable-next-line plugin/no-unsupported-browser-features
          background-image:
            linear-gradient(
              rgb(0 0 0 / 50%),
              rgb(0 0 0 / 50%)
            ),
            image-url($image);
        }
        $last-width: m.number($width);
      }
    }
  }

  .hero {
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    padding: 0 0.5em;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    h3 {
      font-size: 3em;
      margin-top: 0;
      margin-bottom: 0.5em;
      color: #{c.$site-white};

      @include m.breakpoint (medium-small) {
        font-size: 5em;
      }
    }
  
    p {
      font-size: 1.5em;
      color: #{c.$site-white};
    }
  }

  .invert {
    background: var(--site-color);
    color: var(--site-bg);
  }

  // flexbox-gap
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  .all {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;

    article {
      flex: 1 0;
      min-width: 17.89em;
    }
  }
}
