@use 'colors' as c;
@use 'mixins' as m;

main._admin {
  margin: 1em;
}

.admin {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  --admin-radius: 5px;
}

.crown {
  margin-bottom: 1em;
}

.crown a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.crown a img {
  width: 100px;
  height: 100px;
}

.admin .container {
  box-sizing: content-box;
  border: 1px solid #d1d5db;
  padding: 1.5rem;
  border-radius: var(--admin-radius);
  width: 100%;
  max-width: 64em;

  @include m.breakpoint(medium) {
    width: 65%;
  }
}

.input-group {
  line-height: 1.5;
  margin: 0 0 2rem;
}

form {
  margin: 1rem 0;
}

form label {
  display: block;
  padding: 0.25rem 0;
}

form label span {
  color: c.$color-red-button;
}

form input {
  padding: 0.75em;
  margin-top: 0.25rem;
  border: 1px solid var(--site-color);
  border-radius: var(--admin-radius);
  width: 100%;
}

form button {
  cursor: not-allowed;
  color: var(--site-color);
  background: var(--site-bg);
  padding: 1rem;
  border: 1px solid var(--site-color);
  border-radius: var(--admin-radius);
  width: 100%;
  line-height: 1.5;
  margin-top: 2rem 0;
}

form:has([name="email"]:valid):has([name="password"]:valid) button {
  cursor: pointer;
}