/**
 * extra external css specific for some pages for this demo
 */
@use 'colors' as c;
@use 'mixins' as m;

.dyn {
  width: 100%;
  min-height: 8em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  --spinner-size: 6em;
  --spinner-ring-size: 4px;
}

.dyn header h4 {
  margin-top: 0;
}

.dyn-content {
  display: block;
  margin: 1em 0;
}

.user-row {
  display: none;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;

  article {
    flex: 1 1 auto;
    width: 100%;
    min-height: 6em;
  }
}

.user-state {
  --duller-base: #{c.$site-white};
  --eo-bg-color: var(--site-bg);
  --eo-border-focused-color: var(--site-color);
  --eo-border-defocused-color: color-mix(in srgb, var(--site-color), var(--duller-base) 80%);
  --eo-item-selected-bg-color: var(--site-color);
  --eo-item-selected-color: var(--site-bg);
  --eo-item-hover-border-color: var(--site-color);
  --eo-item-hover-border-width: 2px;
  --eo-icon-color: var(--site-bg);
  --eo-add-new-icon-color: var(--site-color);
  --eo-input-focus-outline-color: #0aa;
  --eo-input-focus-outline-width: 2px;
  --eo-input-bg-color: color-mix(in srgb, var(--site-bg), var(--duller-base) 30%);
  --eo-input-color: var(--site-color);
  --eo-input-placeholder-color: color-mix(in srgb, var(--site-color), var(--duller-base) 50%);

  @media (prefers-color-scheme: dark) {
    --duller-base: gray;
    --eo-input-focus-outline-color: lime;
  }
}

.section.user.dyn {
  padding: 0.5rem 0.25rem;

  @include m.min-width (360px) {
    padding: 0.5rem 1rem;
  }
}

.user-login {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  button {
    padding: 0.3em;
    border-radius: 0.4em;
    border-width: 1px;
    border-style: solid;
    color: var(--site-color);
    border-color: var(--site-color);
    background : var(--site-bg);
  }
}

.logged-in {
  .user-row {
    display: flex;
  }
  
  .user-login {
    display: none;
  }
}