@use 'sass:math';
@use 'sass:color';
@use 'vars' as v;
@use 'colors' as c;
@use 'mixins' as m;
@forward 'modern-normalize';
@forward 'logo';
@forward 'nav';
@forward 'header';
@forward 'footer';
@forward 'prompt';
@forward 'spinner';
@forward 'main-banner';
@forward 'dyn';

html {
  font-size: v.$rem-base;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;

  --site-color: #{c.$text-color};
  --site-fill: #{c.$text-color};
  --site-bg: #{c.$site-white};
  --site-link-focus: #{c.$link-focus-dark};
  --link-focus-light: #{c.$link-focus-light};
  --border-radius: 0.4rem;
  --spinner-size: 10em;
  --spinner-ring-size: 1rem;
  --spinner-speed: 1.5;
  --spinner-color: #{c.$spinner-color};

  color: var(--site-color);
  fill: var(--site-fill);
  margin: 0;
  background: var(--site-bg);

  @media (prefers-color-scheme: dark) {
    --site-color: #{c.$site-white};
    --site-fill: #{c.$site-white};
    --site-bg: #{color.adjust(c.$site-black, $lightness: 5%, $space: hsl)};
    --site-link-focus: #{c.$link-focus-light};
    --spinner-color: #{color.adjust(c.$site-white, $lightness: -10%, $space: hsl)};
  }

  @include m.min-width (320px) {
    font-size: calc(#{v.$rem-base} + #{math.div(v.$max-font-size - v.$rem-base,1px)} * ((100vw - 320px) / #{v.$max-font-breakpoint - 320}));
  }

  @include m.min-width (#{v.$max-font-breakpoint}px) {
    font-size: v.$max-font-size;
  }
}

a, a:visited, a:link, a:any-link { // stylelint-disable-line plugin/no-unsupported-browser-features
  text-decoration: none;
  color: var(--site-color);
  fill: var(--site-fill);
  outline: 0;
}

a:focus, button:focus, summary:focus {
  filter: drop-shadow(0 0 8px var(--site-link-focus));
}

main {
  position: relative;
  z-index: 1;
  margin-bottom: 1em;
}
